$orang: #FF6838;
$dark:#31352B;
$darkBlue:#363853;
$silver-200:#ececec;
$silver-100:#f9faff;
$sgray:#c2c2c2;

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif ;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif ;
    font-weight: 500;
}


